/*------------------MIXINS---------------------*/
/*------------------CONTAINER---------------------*/
.Container {
  max-width: 1168px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1140px) {
  .Container {
    max-width: 1168px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .Container {
    max-width: none;
  }
}

/*------------------HEADER---------------------*/
.Header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1140px) {
  .Header {
    height: 80px;
  }
}

@media (max-width: 992px) {
  .Header {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .Header {
    height: 105px;
    padding-bottom: 0rem;
  }
}

.Header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
}

.Header__logo .Header__logo__block {
  width: 100%;
}

.Header__logo .Header__logo__block .Header__logo__Img {
  width: 135px;
  height: 30px;
}

@media (max-width: 767px) {
  .Header__logo {
    height: 70px;
  }
}

.Header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
}

.Header__input .Header__input__block {
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #BBC4D6;
  background: url(../img/Ellipse.png) no-repeat;
  background-position: 2px;
  text-indent: 30px;
}

input:-ms-input-placeholder {
  color: #BBC4D6;
  background: url(../img/Ellipse.png) no-repeat;
  background-position: 2px;
  text-indent: 30px;
}

input::-ms-input-placeholder {
  color: #BBC4D6;
  background: url(../img/Ellipse.png) no-repeat;
  background-position: 2px;
  text-indent: 30px;
}

input::placeholder {
  color: #BBC4D6;
  background: url(../img/Ellipse.png) no-repeat;
  background-position: 2px;
  text-indent: 30px;
}

@media (min-width: 1155px) {
  .Header__input__block input {
    width: 768px;
  }
}

@media (max-width: 1155px) {
  .Header__input__block input {
    width: 344px;
  }
}

@media (max-width: 767px) {
  .Header__input {
    display: none;
  }
}

.Header__usr .Header__togal__block {
  height: 80px;
  float: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: none;
}

.Header__usr .Header__usr__block {
  float: right;
  padding-left: 19px;
  height: 80px;
  padding-bottom: 0.5rem;
  padding-top: 1.3rem;
  border-left: solid #EBEBF1 1px;
}

.Header__usr .usr__name {
  margin: 0px 10px;
  color: #768298;
}

.Header__usr .usr__avatar .usr__avatar__img {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .Header__usr .Header__usr__block {
    display: none;
  }
  .Header__usr .Header__togal__block {
    display: block;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1.8rem;
  }
}

.Header__togal__input {
  display: none;
}

@media (max-width: 767px) {
  .Header__togal__input {
    display: block;
    position: relative;
    bottom: 15px;
    border-top: #BBC4D6 solid 1px;
  }
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------------------MAIN---------------------*/
.Main__title {
  margin-top: 70px;
}

.Main__title .Main__title__txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
}

@media (max-width: 992px) {
  .Main__title .Main__title__txt {
    font-size: 28px;
  }
}

.item__card {
  width: auto;
  height: 120px;
  border: 1px solid #EBEBF1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.item__card:hover {
  background: #FFFFFF;
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
          box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
  border-radius: 5px;
}

@media (max-width: 1140px) {
  .item__card {
    width: auto;
    height: 120px;
  }
}

@media (max-width: 992px) {
  .item__card {
    width: auto;
    height: 120px;
  }
}

@media (max-width: 767px) {
  .item__card {
    width: auto;
    height: 140px;
  }
}

.Main__list__item img {
  width: 9rem;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */